<div class="d-flex footer">
    <div class="footer_divs">
        <div>
            <h6 class="letras_bold">CINEMARK <strong>HOYTS</strong></h6>
        </div>
        <div>
           <a href="#"><i class="bi bi-facebook"></i></a> 
           <a href="#"><i class="bi bi-instagram"></i></a>
           <a href="#"><i class="bi bi-twitter"></i></a> 
            <a href="#"><i class="bi bi-linkedin"></i></a>
            <a href="#"><i class="bi bi-tiktok"></i>
            </a>
        </div>

    </div>
    <div class="footer_divs">
        <h6 class="letras_bold"><strong>CARTELERA</strong></h6>
        <h6 class="letras">ESTRENOS</h6>
        <h6 class="letras">VENTAS ANTICIPADAS</h6>
        <h6 class="letras">PELICULAS 2D</h6>
        <h6 class="letras">PELICULAS 3D</h6>
        <h6 class="letras">PELICULAS 4D</h6>
        <h6 class="letras">PELICULAS XD</h6>
        <h6 class="letras">PELICULAS DBOX</h6>
        <h6 class="letras">PREMIUM CLASS</h6>
        <h6 class="letras">COMFORT</h6>
        <h6 class="letras">FUNCIONES DISTENDIDAS</h6>
    </div>
    <div class="footer_divs">
        <h6 class="letras_bold"><strong>PREMIUM CLASS</strong></h6>
        <h6 class="letras">CARTELERA</h6>
        <h6 class="letras_bold"><strong>CINEMARK LOUNGE</strong></h6>
        <h6 class="letras">CARTELERA</h6>
        <h6 class="letras_bold"><strong>CINE FAN</strong></h6>
        <h6 class="letras">CONCURSOS</h6>
        <h6 class="letras">CONTACTO CINE FAN</h6>
        <h6 class="letras">BASES PROGRAMA</h6>
        <h6 class="letras">DE BENEFICIOS CINE FAN</h6>
        <h6 class="letras_bold"><strong>CANDY</strong></h6>
        <h6 class="letras">TODOS LOS PRODUCTOS</h6>
        <h6 class="letras">BASES VENTA</h6>
        <h6 class="letras">CANDY ONLINE</h6>
    </div>
    <div class="footer_divs">
        <h6 class="letras_bold"><strong>CINES</strong></h6>
        <h6 class="letras">CINES / PRECIOS</h6>
        <h6 class="letras">FORMATOS</h6>
        <h6 class="letras">INFORMACION GENERAL</h6>
        <h6 class="letras">PROMOCIONES</h6>
        <h6 class="letras">CUMPLEAÑOS & GRUPOS</h6>
        <h6 class="letras">BASES VENTA</h6>
        <h6 class="letras">ENTRADAS ONLINE</h6>
        <h6 class="letras_bold"><strong>REGALA CINE</strong></h6>
        <h6 class="letras">EXPERIENCIAS</h6>
        <h6 class="letras">BASES REGALA CINE</h6>
        <h6 class="letras_bold"><strong>COMERCIAL</strong></h6>
        <h6 class="letras">VENTAS CORPORATIVAS</h6>
    </div>
    <div class="footer_divs">
        <h6 class="letras_bold"><strong>STORE</strong></h6>
        <h6 class="letras">TODOS LOS PRODUCTOS</h6>
        <h6 class="letras">BASES CINEMARK STORE</h6>
        <h6 class="letras">CONTACTO</h6>
        <div class="d-flex">
            <img  src="./img/data-fiscal.webp" alt="">
            <img class="imagen" src="./img/data-fiscal.webp" alt="">
        </div>

        <h6 class="letras">RRHH</h6>
        <h6 class="letras">FLIX MEDIA</h6>
    </div>
</div>