<header>
    <h1 class="hoyts">CINEMARK<b> Hoyts</b></h1>

    <nav>
        <a href="/" class="letra">Peliculas</a>
        <a href="/" class="letra">Candy</a>
        <a href="/" class="letra">Cine fan</a>
        <a href="/" class="letra">Store</a>
        <a href="/" class="letra">Empresas</a>
        <a href="/" class="letra">Promociones</a>
    </nav>

    
    <div>
        <a href="/login"><i class="bi bi-people"></i></a>
        <!-- <a href="#" id="icono_carrito" onclick="carritoActualizado()" ><i class="bi bi-cart2"></i></a>
        <div class="cantidadCarrito" id="cantidadCarrito"></div> -->
    </div>

    <!-- <script src="../js/shop.js"></script> -->
</header>

