<div class="d-flex">
    <div>
        <div>
            <img class="tamaño_imagen" src="./img/banner.webp" alt="">
        </div>
        <h5 class="parrafo">Genero: </h5>
        <h5 class="parrafo">Duracion: </h5>
        <h5 class="parrafo">Actores: </h5>
        <h5 class="parrafo" >Director: </h5>
    </div>

    <div>
        <div>
            <img class="tamaño_imagen_2" src="./img/rebel.webp" alt="">
        </div>

            <h3 class="margin_left">PATOS</h3>
       
        <div>
            <p class="parrafo margin_left">
                La familia Mallard está pasando por una pequeña crisis. Mientras que el papá, Mack, se alegra de mantener a su familia a salvo nadando alrededor de su estanque de Nueva Inglaterra, la mamá, Pam, está ansiosa por cambiar las cosas y mostrarle el mundo entero a sus hijos: el adolescente, Dax, y la pequeña patita Gwen. Después de que una familia de patos migratorios llega a su estanque con emocionantes historias de lugares lejanos, Pam convence a Mack para emprender un viaje familiar, pasando por la ciudad de Nueva York, hacia la tropical Jamaica. Mientras los Mallard se dirigen al sur para pasar el invierno, sus planes se ven rápidamente frustrados. La experiencia los inspirará a ampliar sus horizontes, abrirse a nuevos amigos y lograr más de lo que jamás creyeron posible, al mismo tiempo que aprenderán más acerca de los demás, y de ellos mismos, de lo que nunca imaginaron.
            </p>
        </div>

    </div>
</div>